node_modules
src
public
build
*.log
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.nyc_output
*.tsbuildinfo
tsconfig.json
tsconfig.lib.json
rollup.config.js
config-overrides.js
.eslintrc*
.prettierrc*
README.md

